
*{
    color: #f9faf8;
    margin: 0;
    padding: 0,1rem;
    max-width: 100%;
}

.container{
    background-color: #1f2937;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0,0;
    flex-shrink: 0;
    
}


.nar3{
    padding-left: 150px;

}

.nar2{
    margin-top: 70px;
    padding-bottom: 60px;
}


#naruto{
    width: 120px; 
    display: flex;
}


.web{
    font-size: 40px;
    font-weight: bold;
    color: #f9faf8;
}

ul{
    list-style: none;
    display: flex;
    gap: 55px;
    margin-left: 150px;
    font-size: 16px;
}

#naaa1{
    max-width: 380px;
    padding-top: 50px;
    margin-left: 120px;
}

.website{
    font-size: 18px;
}



button{
    display: flex;
    flex-shrink: 0;
    margin: 8px;
    background-color: #3882f6;
    border-radius: 7px;
    border: none;
    padding: 9px;
    width: 120px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
}


#sasuke,
#hokage,
#face{
    width: 140px;
    border: 3px solid red;
    border-radius: 10%;
   
}

#naruu{
    width: 140px;
    border: 4px solid red;
    border-radius: 10%;
    height: 110px;
}

.wrap{
    display: flex;
    gap: 9px;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
    margin: 20px;
}

.mid{
    color: #1f2937;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    margin: 30px;
}

.quote{
    color: #1f2937;
    font-size: 40px;
    background-color: #e5e7eb;
    margin-bottom: 80px;
    text-align: center;
    justify-content: center;
    padding: 90px;
}

.el{
    color: royalblue;
    padding-right: 100px;
    text-align: end;
}

.el:hover{
    color: red;
}

.call{
    background-color: #3882f6;
    text-align: center;
    justify-content: center;
    border-radius: 9px;
    max-width: 100%;
    display: flex;
    padding: 50px;
    margin: 150px;
    gap: 50px;
    flex-shrink: 0;
}

.time{
    font-size: 28px;
}


#up{
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 7px;
    padding: 6px;
    width: fit-content;
    text-align: center;
    justify-content: center;
    font-size: 15px;
 }

 #up a{
    text-decoration: none;
 }

 .action,
 #up:hover{
     background-color: cadetblue;
     color: #1f2937;
 }

ul a{
    text-decoration: none;
    font-weight: bold; 
   
}

ul a:hover {
    background-color: #1f2937;
    color: darkgoldenrod
}
     

.nar1{
    padding-left: 2px;
}


.material-symbols-outlined {
  font-size: small;
  font-weight: lighter;
}



.copy{
    background-color: #1f2937;
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-size: 13px;
} 



@media screen and (max-width: 30em) {
    .naaar1{
        width: 50px;  
    }
}

@media (max-width: 10em) {
    .container{
        max-width: fit-content;
    }
}
    

@media (max-width: 30em) {
    *{
        color: #f9faf8;
        margin: 0;
        padding: 0,1rem;
        max-width: 100%;
        display: block;
    }

}

@media(max-width: 30em) {
    .nar1{
        display: none;
    }
}

@media(max-width: 30em) {
    .nar3{
        font-size: 15px;
    }
}