
*{
    color: #f9faf8;
    margin: 0;
    padding: 0,1rem;
    max-width: 100%;
}

.container{
    background-color: #1f2937;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0,0;
    flex-shrink: 0;
    
}


.nar3{
    padding-left: 150px;

}

.nar2{
    margin-top: 70px;
    padding-bottom: 60px;
}


#naruto{
    width: 120px; 
    display: flex;
}


.web{
    font-size: 40px;
    font-weight: bold;
    color: #f9faf8;
}

ul{
    list-style: none;
    display: flex;
    gap: 55px;
    margin-left: 120px;
    font-size: 14px;
}

#naaa1{
    max-width: 380px;
    padding-top: 50px;
    margin-left: 160px;
}

.website{
    font-size: 18px;
}



button{
    display: flex;
    flex-shrink: 0;
    margin: 8px;
    background-color: #3882f6;
    border-radius: 7px;
    border: none;
    padding: 9px;
    width: 120px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
}


#sasuke,
#naruu,
#hokage,
#face{
    width: 140px;
    border: 3px solid #1f2937;
    border-radius: 10%;
    height: 110px;  
}



span{
    color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    padding: 5px;
}

/* #naruu{
    width: 140px;
    border: 3px solid #1f2937;
    border-radius: 10%;
    height: 110px;
} */

.wrap{
    display: flex;
    gap: 60px;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin: 25px;
    color: #1f2937
    
}

.mid{
    color: #1f2937;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    margin: 30px;
}

.quote{
    color: #1f2937;
    font-size: 40px;
    background-color: #e5e7eb;
    margin-bottom: 80px;
    text-align: center;
    justify-content: center;
    padding: 90px;
}

.el{
    color: royalblue;
    padding-right: 100px;
    text-align: end;
}

.el:hover{
    color: red;
}

.call{
    background-color: #3882f6;
    text-align: center;
    justify-content: center;
    border-radius: 9px;
    max-width: 100%;
    display: flex;
    padding: 50px;
    margin: 150px;
    gap: 50px;
    flex-shrink: 0;
}

.time{
    font-size: 28px;
}


#up{
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 7px;
    padding: 6px;
    width: fit-content;
    text-align: center;
    justify-content: center;
    font-size: 15px;
 }

 #up a{
    text-decoration: none;
 }

 .action,
 #up:hover{
     background-color: cadetblue;
     color: #1f2937;
 }

ul a{
    text-decoration: none;
    font-weight: bold; 
   
}

ul a:hover {
    background-color: #1f2937;
    color: darkgoldenrod
}
     

.nar1{
    padding-left: 2px;
}


.material-symbols-outlined {
  font-size: small;
  font-weight: lighter;
}



.copy{
    background-color: #1f2937;
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-size: 13px;
} 


/*smaller screen sizes*/
@media only screen and (max-width: 600px) {
    #naruto{
        width: 100px;
    }

    .nar1{
        display: flex;
        flex-wrap: wrap;
        margin-right: 10px;
        padding: 8px;
        display: none;
    }

    #naaa1{
        width: 200px;
        margin-left: 29px;
        height: 110px

    }

    .wrap{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 2px;
    }

    .nar3{
        padding-left: 90px;
    }

    #sasuke,
    #naruu,
    #hokage,
    #face{
        width: 70px;
        border: 2px solid #1f2937;
        border-radius: 10%;
        height: 60px;  
        text-align: center;
    }

    .web{
        font-size: 20px;
        font-weight: bold;

    }

    ul{
        list-style: none;
        display: flex;
        gap: 14px;
        margin-left: 0;
        font-size: 14px;
    }

    .quote{
        font-size: 19px;
    }

    .el{
        padding-right: 20px;
        margin: 7px;
    }

    .call{
        background-color: #3882f6;
        text-align: center;
        justify-content: center;
        border-radius: 9px;
        max-width: 100%;
        display: flex;
        padding: 25px;
        margin: 55px;
        gap: 10px;
        flex-shrink: 0;

    }

    .mid{
        font-size: 30px;
    }

    .time{
        font-size: 16px;
    }

    #up{
        background-color: #3882f6;
        border: 1px solid white;
        border-radius: 7px;
        padding: 6px;
        width: fit-content;
        text-align: center;
        justify-content: center;
        font-size: 9px;
        font-weight: bold;
    }
}


/*small devices (portrait tablets and large phones, 600px and up)*/

@media only screen and (min-width: 600px) {
    #naruto{
        width: 120px
    }

    .nar1{
        display: flex;
        flex-wrap: wrap;
        margin-right: 10px;
        padding: 10px;
        text-align: end;
        justify-content: end;
    }

    #naaa1{
        width: 200px;
        height: 120px;
        margin-left: 50px;
    }

    ul{
        list-style: none;
        display: flex;
        gap: 14px;
        margin-left: 0;
        font-size: 13px;
    }

    .web{
        font-size: 19px;
    }
    .website{
        font-size: 12px;
    }

    .nar3{
        padding-left: 90px;
    }

    .quote{
        font-size: 25px;
    }

    #sasuke,
    #naruu,
    #hokage,
    #face{
        width: 90px;
        border: 2px solid #1f2937;
        border-radius: 10%;
        height: 70px;  
        display: flex;
        flex-wrap: wrap;
    }

    .el{
        padding-right: 50px;
        margin: 10px;
    }

    .call{
        background-color: #3882f6;
        text-align: center;
        justify-content: center;
        border-radius: 9px;
        max-width: 100%;
        display: flex;
        padding: 25px;
        margin: 70px;
        gap: 19px;
        flex-shrink: 0;

    }

    
}

/*laptop and other devices*/
@media only screen and (min-width: 1200px) {
    .nar1{
        display: flex;
        flex-wrap: wrap;
        margin-left: 400px;
        padding: 8px;
        
    }

    #naaa1{
        width: 300px;
        height: 200px;
    }

    ul{
        font-size: 20px;
    }

    .web{
        font-size: 26px;
    }

    .website{
        font-size: 18px;
    }

    .nar3{
        padding-left: 150px;
    }

    #sasuke,
    #naruu,
    #hokage,
    #face{
        width: 150px;
        border: 2px solid #1f2937;
        border-radius: 10%;
        height: 120px;  
        text-align: center;
    }
    .call{
        margin: 150px;
        gap: 40px
    }

    .quote{
        font-size: 30px;
    }

    .el{
        padding-right: 70px;
        font-size: 40px;
    }
    .copy{
        font-size: 20px;
    }

}